#index .page__background{
   background: #833ab4; 
   background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); 
   background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); 
   
}
 
 #card{
     margin-top: 20%;
 }

 .content >h1 {
    text-align: center;
    font-family: 'Chilanka', cursive;
    font-size: 28px;
    color: rgb(19, 14, 14);
 }

 .content >p {
    text-align: center;
    font-family: 'Chilanka', cursive;
    font-size: 15px;
    color: rgb(126, 125, 125);
 }

 #forgot{
   text-align: center;
   font-family: 'Chilanka', cursive;
   font-size: 13px;
   color: #072a24;
 }

 #sing{
   text-align: center;
   font-family: 'Chilanka', cursive;
   font-size: 13px;
   color: #e93737; 
 }

 #login {
   text-align: center;
   font-family: 'Chilanka', cursive;
   background : #072a24;

  }

 #outline_login {
   text-align: center;
   font-family: 'Chilanka', cursive;
   background : #0f456e;

  }
 
  #outline1_login {
   text-align: center;
   font-family: 'Chilanka', cursive;
   background : #fe929f;

  }

  /* ----------------------------------------------------- */

  #register .page__background{
   background: #833ab4; 
   background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); 
   background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); 
   
}

  #card_re{
    margin-top: 1%;
}

  .title_re >h3 {
    text-align: center;
    font-family: 'Chilanka', cursive;
    font-size: 28px;
    color: rgb(19, 14, 14);
 }
 
 .title_re >p {
    text-align: center;
    font-family: 'Chilanka', cursive;
    font-size: 13px;
    color: rgb(126, 125, 125);
 }
   
  #large--cta_re{
   font-family: 'Chilanka', cursive;
   background: #0f456e;
  }

 /* ----------------------------------------------------- */

 #foodcategory{
   background: #EB3349; 
   background: -webkit-linear-gradient(to right, #F45C43, #EB3349); 
   background: linear-gradient(to right, #F45C43, #EB3349); 
 
 }

 #card_food{
   font-family: 'Chilanka', cursive;
   margin-top: 4%;
   height: 10%;
   width: 80%;

}

#back{
   margin-top: 2%;
}

.center >h1{
   margin-top: 0%;
   font-family: 'Roboto', sans-serif;
   font-size: 22px; 
}

.card__contentcard--material__content {
   text-align: center;
   font-family: 'Chilanka', cursive;
   font-size: 15px;
   color: #050505;
}

#one {
   font-family: 'Chilanka', cursive;
   font-size: 17px;
   color: #40d0e0;
}

.one >p{
   margin-top: -15%;
}


#two {
   font-family: 'Chilanka', cursive;
   font-size: 17px;
   color: #ff8c00;
}

.two >p{
   margin-top: -15%;
}


#three {
   font-family: 'Chilanka', cursive;
   font-size: 17px;
   color: #ff0080;
}

.three >p{
   margin-top: -15%;
}


.more {
   margin-top: 0%;
   text-align: center;
}

#more {
   font-size: 16px;
   color: rgb(20, 2, 2);
}

#menu{
   text-align: center;
   font-family: 'Chilanka', cursive;
   font-size: 20px;
}

/* ----------------------------------------------------- */

#orderconfirmation{
   background: #EB3349; 
   background: -webkit-linear-gradient(to right, #F45C43, #EB3349); 
   background: linear-gradient(to right, #F45C43, #EB3349); 
}

#card_order{
   margin-top: 12%;
}

.title_order >h1 {
   text-align: center;
   font-family: 'Chilanka', cursive;
   font-size: 20px;
   color: rgb(19, 14, 14);
}

.title_order >p {
   text-align: center;
   font-family: 'Chilanka', cursive;
   font-size: 17px;
   color: rgb(126, 125, 125);
}

#one_order {
   font-family: 'Chilanka', cursive;
   font-size: 18px;
   color: #959696;
}

#two_order {
   font-family: 'Chilanka', cursive;
   font-size: 16px;
   color: #40d0e0;
}

#three_order {
   font-family: 'Chilanka', cursive;
   font-size: 16px;
   color: #ff8c00;
}

#four_order {
   font-family: 'Chilanka', cursive;
   font-size: 16px;
   color: #ff0080;
}

#card_totle{
   font-family: 'Chilanka', cursive;
   font-size: 16px;
   background: #f7f0f0;
   height: 10%;
}

#card_enter{
   font-family: 'Chilanka', cursive;
   font-size: 18px;
   height: 10%;
}

.pay >p{
   font-family: 'Chilanka', cursive;
   font-size: 18px;
}

#credit{
   padding: 2%;
   font-family: 'Chilanka', cursive;
   font-size: 15px;
   color: #000;
   background: #77a1d3;
}

#paypal{
   padding: 2%;
   font-family: 'Chilanka', cursive;
   font-size: 15px;
   color: #000;
   background: #79cbca;
}

#cash{
   padding: 2%;
   font-family: 'Chilanka', cursive;
   font-size: 15px;
   color: #000;
   background: #e684ac;
}

#cancle{
   font-size: 15px;
   color: rgb(194, 34, 34)
}


/* ----------------------------------------------------- */

#resturanmenu{
   background: #EB3349; 
   background: -webkit-linear-gradient(to right, #F45C43, #EB3349); 
   background: linear-gradient(to right, #F45C43, #EB3349);  
 }

#card_menu{
   margin-top: 11%;
}

.title_menu >h1 {
   text-align: center;
   font-family: 'Chilanka', cursive;
   font-size: 18px;
   color: rgb(19, 14, 14);
}

.title_menu >p {
   text-align: center;
   font-family: 'Chilanka', cursive;
   font-size: 15px;
   color: rgb(126, 125, 125);
}

.start{
   text-align: center;
   font-family: 'Chilanka', cursive;
   font-size: 15px;
   background: #ffc3a0;
   
}

.one_menu >h1 {
   text-align: left;
   font-family: 'Chilanka', cursive;
   font-size: 13px;
   color: rgb(3, 3, 3);
}

.one_menu >p {
   text-align: left;
   font-family: 'Chilanka', cursive;
   font-size: 11px;
   color: #40d0e0;
}


.two_menu >h1 {
   text-align: left;
   font-family: 'Chilanka', cursive;
   font-size: 13px;
   color: rgb(14, 11, 11);
}

.two_menu >p {
   text-align: left;
   font-family: 'Chilanka', cursive;
   font-size: 11px;
   color: #ff8c00;
}

.three_menu >h1 {
   text-align: left;
   font-family: 'Chilanka', cursive;
   font-size: 13px;
   color: rgb(14, 11, 11);
}

.three_menu >p {
   text-align: left;
   font-family: 'Chilanka', cursive;
   font-size: 11px;
   color: #ff0080;
}

.mains{
   text-align: center;
   font-family: 'Chilanka', cursive;
   font-size: 15px;
   background: #ffafbd;
}

.four_menu >h1 {
   text-align: left;
   font-family: 'Chilanka', cursive;
   font-size: 13px;
   color: rgb(3, 3, 3);
}

.four_menu >p {
   text-align: left;
   font-family: 'Chilanka', cursive;
   font-size: 11px;
   color: #40d0e0;
}


.five_menu >h1 {
   text-align: left;
   font-family: 'Chilanka', cursive;
   font-size: 13px;
   color: rgb(14, 11, 11);
}

.five_menu >p {
   text-align: left;
   font-family: 'Chilanka', cursive;
   font-size: 11px;
   color: #ff8c00;
}

.six_menu >h1 {
   text-align: left;
   font-family: 'Chilanka', cursive;
   font-size: 13px;
   color: rgb(14, 11, 11);
}

.six_menu >p {
   text-align: left;
   font-family: 'Chilanka', cursive;
   font-size: 11px;
   color: #ff0080;
}

#drinks{
   font-family: 'Chilanka', cursive;
   font-size: 18px;
   color: rgb(255, 254, 254);
   background: #BE93C5;
}

#desserts{
   font-family: 'Chilanka', cursive;
   font-size: 18px;
   color: rgb(255, 255, 255);
   background: #7bc6cc;
}

/* ----------------------------------------------------- */

#resturanlist{
   background: #EB3349; 
   background: -webkit-linear-gradient(to right, #F45C43, #EB3349); 
   background: linear-gradient(to right, #F45C43, #EB3349);  
 }

#card_list{
   margin-top: 12%;
}

.title_list >h1 {
   text-align: center;
   font-family: 'Chilanka', cursive;
   font-size: 15px;
   color: rgb(19, 14, 14);
}

.title_list >p {
   text-align: center;
   font-family: 'Chilanka', cursive;
   font-size: 12px;
   color: rgb(126, 125, 125);
}

#more1{
   font-size: 13px;
   color: #F09819

}

/* ................................................... */

#completed{
   background: #EB3349; 
   background: -webkit-linear-gradient(to right, #F45C43, #EB3349); 
   background: linear-gradient(to right, #F45C43, #EB3349);
 
}

#card_com{
   margin-top: 40%;
   width: 95%;
   height: 50%;
}

 .title_com >h3 {
   text-align: center;
   font-family: 'Chilanka', cursive;
   font-size: 35px;
   color: rgb(19, 14, 14);
}

.complete{
   width: 150px;
   height: 170px;
   background-size: 110%;
   display: table;
}


/* ................................................... */

.thumbnail{
   width: 35px;
   height: 35px;
   background-size: 100%;
   display: table;
}

.thumbnail1{
   width: 150px;
   height: 120px;
   background-size: 150%;
   display: table;
}

.thumbnail2{
   width: 150px;
   height: 120px;
   background-size: 150%;
   display: table;
}

.thumbnail3{
   width: 150px;
   height: 120px;
   background-size: 150%;
   display: table;
}

.thumbnail4{
   width: 150px;
   height: 120px;
   background-size: 150%;
   display: table;
}

.thumbnail5{
   width: 150px;
   height: 120px;
   background-size: 150%;
   display: table;
}

.list1{
   width: 60px;
   height: 60px;
   background-size: 100%;
   display: table;
}

.list2{
   width: 60px;
   height: 60px;
   background-size: 100%;
   display: table;
}

.list3{
   width: 60px;
   height: 60px;
   background-size: 100%;
   display: table;
}

.list4{
   width: 60px;
   height: 60px;
   background-size: 100%;
   display: table;
}

.list5{
   width: 150px;
   height: 100px;
   background-size: 120%;
   display: table;
}



/* ................................................... */

.recomended_item {
   padding-left: 10px;
}

.menu_list {
   background: transparent;
}

.category_wrapper ons-icon {
   font-size: 55px;
   padding-top: 10px;
   line-height: 0.75em;
}

.category_thumbnail {
   display: inline-block;
   margin: 160px 0px;
}

.category_title {
   font-size: 30px;
   font-weight: bold;
   color: white;
   padding-top: 20px;
}
 


  
