#loginpage .page__background{
   background: #833ab4; 
   background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); 
   background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); 
   
}
 
 #card{
     margin-top: 20%;
 }

 .content >h1 {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 28px;
    color: rgb(8, 3, 3);
 }

 .content >p {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    color: rgb(87, 86, 86);
 }

 #forgot{
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 15px;
   color: #020202;
 }

 #sing{
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 15px;
   color: #e93737; 
 }

 #login {
   text-align: center;
   font-family: 'Comfortaa', cursive;
   background : #072a24;

  }

  /* ------------------------------------------------------------------------------------- */

  #registerpage .page__background{
   background: #833ab4; 
   background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); 
   background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); 
   
}

  #card_re{
    margin-top: 10%;
}

  .title_re >h1 {
    
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 28px;
    color: rgb(19, 14, 14);
 }
 
 .title_re >p {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    color: rgb(87, 86, 86);
 }
   
  #register{
   font-family: 'Comfortaa', cursive;
   background: #0f456e;
  }

  #backlogin{
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 18px;
   color: rgb(187, 21, 21);
  }

 /* ----------------------------------------------------------------------------------- */

 #foodcategorypage .page__background{
   background: #EB3349; 
   background: -webkit-linear-gradient(to right, #F45C43, #EB3349); 
   background: linear-gradient(to right, #F45C43, #EB3349); 
 
 }

.recomended1{
   margin-top: 10%;
   width: 150px;
   height: 120px;
   background-size: 150%;
   display: table;
}

.thumbnail{
   width: 50px;
   height: 50px;
   background-size: 100%;
   display: table;
}

 #card_food{
   margin-top: 5%;
   height: 10%;
   width: 80%;

}

.Melbourne{
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 18px;
}

.one{
   margin-top: 5%;
}

.one >p{
   margin-top: -13%;
   font-family: 'Comfortaa', cursive;
   font-size: 15px;
   color: #40d0e0;
}

.two{
   margin-top: 5%;
}

.two >p{
   margin-top: -13%;
   font-family: 'Comfortaa', cursive;
   font-size: 15px;
   color: #ff8c00;
}

.there{
   margin-top: 5%;
}

.three >p{
   margin-top: -13%;
   font-family: 'Comfortaa', cursive;
   font-size: 15px;
   color: #ff0080;
}


.more {
   margin-top: 0%;
   text-align: center;
}

#logout {
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 18px;
   color: rgb(187, 21, 21);
}

/* ------------------------------------------------------------------------------------- */

#resturantlistpage .page__background{
   background: #EB3349; 
   background: -webkit-linear-gradient(to right, #F45C43, #EB3349); 
   background: linear-gradient(to right, #F45C43, #EB3349); 
}

#card_list{
   margin-top: 3%;
}

.list >h6 {
   margin-top: 5%;
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 20px;
   color: rgb(19, 14, 14);
}

.list >p {
   margin-top: -20%;
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 12px;
   color: rgb(126, 125, 125);
}

.more1 >p{
   font-size: 15px;
   color: #F09819
}


/* ------------------------------------------------------------------------------------- */

#resturantmenupage .page__background{
   background: #EB3349; 
   background: -webkit-linear-gradient(to right, #F45C43, #EB3349); 
   background: linear-gradient(to right, #F45C43, #EB3349); 
}

#card_menu{
   margin-top: 3%;
}

.menu >h6 {
   margin-top: 5%;
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 20px;
   color: rgb(19, 14, 14);
}

.menu >p {
   margin-top: -20%;
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 12px;
   color: rgb(126, 125, 125);
}

.start{
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 18px;
   background: #ffc3a0;
   
}

.one_menu >h6 {
   margin-top: 2%;
   text-align: left;
   font-family: 'Comfortaa', cursive;
   font-size: 15px;
   color: rgb(3, 3, 3);
}

.one_menu >p {
   margin-top: -8%;
   text-align: left;
   font-family: 'Comfortaa', cursive;
   font-size: 13px;
   color: #40d0e0;
}


.two_menu >h6 {
   margin-top: 2%;
   text-align: left;
   font-family: 'Comfortaa', cursive;
   font-size: 15px;
   color: rgb(14, 11, 11);
}

.two_menu >p {
   margin-top: -7%;
   text-align: left;
   font-family: 'Comfortaa', cursive;
   font-size: 13px;
   color: #ff8c00;
}

.three_menu >h6 {
   margin-top: 2%;
   text-align: left;
   font-family: 'Comfortaa', cursive;
   font-size: 15px;
   color: rgb(14, 11, 11);
}

.three_menu >p {
   margin-top: -7%;
   text-align: left;
   font-family: 'Comfortaa', cursive;
   font-size: 13px;
   color: #ff0080;
}

.mains{
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 18px;
   background: #ffafbd;
}

.four_menu >h6 {
   margin-top: 2%;
   text-align: left;
   font-family: 'Comfortaa', cursive;
   font-size: 15px;
   color: rgb(3, 3, 3);
}

.four_menu >p {
   margin-top: -7%;
   text-align: left;
   font-family: 'Comfortaa', cursive;
   font-size: 13px;
   color: #40d0e0;
}


.five_menu >h6 {
   margin-top: 2%;
   text-align: left;
   font-family: 'Comfortaa', cursive;
   font-size: 15px;
   color: rgb(14, 11, 11);
}

.five_menu >p {
   margin-top: -7%;
   text-align: left;
   font-family: 'Comfortaa', cursive;
   font-size: 13px;
   color: #ff8c00;
}

.six_menu >h6 {
   margin-top: 2%;
   text-align: left;
   font-family: 'Comfortaa', cursive;
   font-size: 15px;
   color: rgb(14, 11, 11);
}

.six_menu >p {
   margin-top: -7%;
   text-align: left;
   font-family: 'Comfortaa', cursive;
   font-size: 13px;
   color: #ff0080;
}

#order{
   width: 100%;
   height: 3%;
   text-align: center;
   font-family: 'Comfortaa', cursive;
   background : #20b892;
}

#clear{
   width: 100%;
   height: 3%;
   text-align: center;
   font-family: 'Comfortaa', cursive;
   background : #fc9038;
}


/* -------------------------------------------------------------------------------------- */

#orderconfirmationpage .page__background{
   background: #EB3349; 
   background: -webkit-linear-gradient(to right, #F45C43, #EB3349); 
   background: linear-gradient(to right, #F45C43, #EB3349); 
}

 #card_order{
   margin-top: 3%;
}

.order >h6 {
   margin-top: 5%;
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 20px;
   color: rgb(19, 14, 14);
}

.order >p {
   margin-top: -10%;
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 15px;
   color: rgb(126, 125, 125);
}

#exampleModalLabel{
   margin-top: -5%;
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 20px;
   color: rgb(82, 27, 18);
}

#ordernowbtn{
   margin-top: 5%;
   width: 100%;
   height: 5%;
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 20px;
   background : #fc9038;
}

.pay >p{
   font-family: 'Comfortaa', cursive;
   font-size: 13px;
}

#credit{
   padding: 1%;
   font-family: 'Comfortaa', cursive;
   font-size: 16px;
   background: #77a1d3;
}

#paypal{
   padding: 1%;
   font-family: 'Comfortaa', cursive;
   font-size: 16px;
   background: #79cbca;
}

#cash{
   padding: 1%;
   font-family: 'Comfortaa', cursive;
   font-size: 16px;
   background: #e684ac;
}
#cancle{
   font-family: 'Comfortaa', cursive;
   font-size: 18px;
   color: rgb(194, 34, 34)
}

.minus-item{
   width:20px;
   height:20px;
   background-color: rgba(255, 41, 41, 0.822);
   margin-right: 5px;
}
.plus-item{
   width:20px;
   height:20px;
   background-color: rgba(29, 103, 201, 0.822);
   margin-left: 5px;
}
.item-count {
   width:80px;
   height:40px;
   margin-top: 15px;
   font-size: 18px;
   text-align: center;

}
.delete-item {
   margin: 1px;
}


/*-----------------------------------------------------------------------------------------*/

#completedpage .page__background{
   background: #EB3349; 
   background: -webkit-linear-gradient(to right, #F45C43, #EB3349); 
   background: linear-gradient(to right, #F45C43, #EB3349);
 
}


#card_com{
   margin-top: 40%;
   width: 95%;
   height: 50%;
}

 .title_com >h3 {
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 35px;
   color: rgb(19, 14, 14);
}

.complete{
   width: 150px;
   height: 170px;
   background-size: 110%;
   display: table;
}

/*----------------------------------------------------------------------------------------*/

.list1{
   width: 60px;
   height: 60px;
   background-size: 100%;
   display: table;
}

.list2{
   width: 60px;
   height: 60px;
   background-size: 100%;
   display: table;
}

.list3{
   width: 60px;
   height: 60px;
   background-size: 100%;
   display: table;
}

.list4{
   width: 60px;
   height: 60px;
   background-size: 100%;
   display: table;
}

.list5{
   width: 150px;
   height: 100px;
   background-size: 120%;
   display: table;
}

/*-----------------------------------------------------------------------------------------*/

.recomended_item {
   padding-left: 10px;
}

.menu_list {
   background: transparent;
}

.category_wrapper ons-icon {
   font-size: 55px;
   padding-top: 10px;
   line-height: 0.75em;
}

.category_thumbnail {
   display: inline-block;
   margin: 160px 0px;
}

.category_title {
   font-size: 30px;
   font-weight: bold;
   color: white;
   padding-top: 20px;
}
 


  
